.rd-navbar-outer
{
  background-color: #51788b;
}

.rd-navbar-static .rd-navbar-nav > li > a
{
  color: #51c1d1;
}

.rd-navbar-fixed .rd-navbar-nav li.active > a {
  background: #51c1d1;
}

.rd-navbar-static .rd-navbar-panel {
    padding: 0;
}

.rd-navbar-brand {
  color: white;
  z-index: 1;
  padding-top: 5px;
}

.rd-navbar--is-touch .rd-navbar-brand {
  color: black;
  padding-top: 0;
}

.rd-navbar-nav {
  float: right;
}

.rd-navbar-fixed .rd-navbar-nav {
  width: 100%;
}

.content a {
  text-decoration: underline !important;
}

.content .row {
  margin-top: 0px
}

.content p {
  margin-top: 10px
}

.content h1 {
  text-transform: none;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  text-transform: none;
  margin-top: 30px
}

.responsive-tabs .row {
  margin-top: 30px
}