.visible_on_mobile370,
.visible_on_tablet {
    display: none;
}

.mobile370 .visible_on_mobile370,
.tablet .visible_on_tablet {
    display: block;
}

.non-pc .row-splitter {
    display: block;
    width: 100%;
}

.non-pc .row-splitter {
    clear: both;
}

.blk_section.is_hidden {
    display: none;
}

.non-pc #button_up_wrap.button_up.left {
    bottom: 15px;
    left: 15px;
}

.non-pc .widget_preview_wrapper {
    width: 100%;
    left: 0;
    top: 0;
}

.action_preview.non-pc .widget_preview_wrapper {
    width: 500px;
    top: 50px;
    left: 50%;
    margin-left: -250px;
}

.non-pc .blk_text .blk-data h1,
.non-pc .blk_text .blk-data h2,
.non-pc .blk_text .blk-data h3,
.non-pc .blk_text .blk-data h4,
.non-pc .blk_text .blk-data h5,
.non-pc .blk_text .blk-data h6,
.non-pc .blk_text .blk-data p,
.non-pc .blk_text .blk-data a {
    font-size: inherit !important;
}

body.non-pc > #site_wrapper1 .blk_section.is_fixed {
    width: 500px;
    left: 50%;
    margin-left: -250px;
}

.non-pc .is_parallax .section-image,
.non-pc .is_parallax .section-image-2 {
    background-attachment: scroll;
    background-size: cover;
}

.inline-only-for-non-pc,
.block-only-for-non-pc {
    display: none;
}

.non-pc .inline-only-for-non-pc {
    display: inline;
}

.non-pc .block-only-for-non-pc {
    display: block;
}

.non-pc #sign_popup {
    width: 264px;
    margin-left: -132px;
}

.non-pc #sign_popup img {
    display: none;
}

.non-pc #sign_popup img.inline-only-for-non-pc {
    display: inline;
}

.non-pc #sections_list .btn-new {
    white-space: normal;
}

.blk_container.v3 .blk-container__del-cell {
    display: none;
}